<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="./script.js"></script>
</head>
<body>
    <input oninput="debounce2()" id="principal" placeholder="Principal"></input>
    <br></br>
    <input oninput="debounce2()" id="time" placeholder="Time"></input>
    <br></br>
    <input oninput="debounce2()" id="rate" placeholder="Rate"></input>
    <br></br>
    <div id="total"></div>
</body>
</html>